# Document information

<table align="left">
    <tr>
        <th class="text-align:left">Title</th>
        <td class="text-align:left">Basic statistics for a single-column data file</td>
    </tr>
    <tr>
        <th class="text-align:left">Last modified</th>
        <td class="text-align:left">2018-07-24</td>
    </tr>
    <tr>
        <th class="text-align:left">Author</th>
        <td class="text-align:left">Gilles Pilon <gillespilon13@gmail.com></td>
    </tr>
    <tr>
        <th class="text-align:left">Status</th>
        <td class="text-align:left">Active</td>
    </tr>
    <tr>
        <th class="text-align:left">Type</th>
        <td class="text-align:left">Jupyter notebook</td>
    </tr>
    <tr>
        <th class="text-align:left">Created</th>
        <td class="text-align:left">2018-06-22</td>
    </tr>
    <tr>
        <th class="text-align:left">File name</th>
        <td class="text-align:left">basic_statistics_single_column.ipynb</td>
    </tr>
    <tr>
        <th class="text-align:left">Other files required</th>
        <td class="text-align:left">basic_statistics_single_column_data.csv</td>
    </tr>
</table>

# In brevi

The purpose of this Jupyter notebook is to illustrate a basic notebook structure. The script reads a single-column file and calculates basic statistics. It progresses from quick-and-dirty code to pretty.

# Methodology

TBD

# Data

TBD

# Import librairies and basic setup

In [1]:
# Import the Python pandas library. Give it a shortcut name of "pd".
# Import the Python numpy library. Give it a shortcut name of "np".
# These libraries contain the methods required to perform the analysis.
import pandas as pd
import numpy as np

# Read the data file

The data file has one column labelled "y". It is saved as a CSV format with UTF-8 encoding.

In [2]:
# Read the data file and save it to a dataframe called "df".
df = pd.read_csv('basic_statistics_single_column_data.csv')

In [3]:
# View the first five rows of data.
df.head(5)

           y
0  61.285093
1  71.414479
2  75.356495
3  54.584659
4  65.031903

In [4]:
# View the last five rows of data.
df.tail(5)

            y
45  74.690169
46  91.034409
47  79.701784
48  48.918434
49  71.215380

# Perform the analysis

In [5]:
# Calculate a set of basic statistics.
df.describe()

               y
count  50.000000
mean   71.736964
std    11.627286
min    46.574791
25%    63.270518
50%    71.739657
75%    79.806678
max    98.642938

In [6]:
# How many values are there?
df.count()

y    50
dtype: int64

In [7]:
# What is the average?
df.mean()

y    71.736964
dtype: float64

In [8]:
# What is the sample standard deviation?
df.std()

y    11.627286
dtype: float64

In [9]:
# What is the minimum value?
df.min()

y    46.574791
dtype: float64

In [10]:
# What is the maximum value?
df.max()

y    98.642938
dtype: float64

In [11]:
# Calculate various qunatiles.
df.quantile([.01, .05, .1, .25, .5, .75, .9, .95, .99])

              y
0.01  47.723176
0.05  54.061673
0.10  57.305871
0.25  63.270518
0.50  71.739657
0.75  79.806678
0.90  87.824651
0.95  91.127774
0.99  95.082750

In [12]:
# What is the median?
df.median()

y    71.739657
dtype: float64

In [13]:
# Calculate the interquartile range (IQR).
df.quantile(.75) - df.quantile(.25)

y    16.53616
dtype: float64

In [14]:
# What is the 95 % confidence interval of the median?

In [15]:
# Upper value.
df.median() + 1.57 * (df.quantile(.75) - df.quantile(.25))/np.sqrt(df.count())

y    75.411206
dtype: float64

In [16]:
# Lower value.
df.median() - 1.57 * (df.quantile(.75) - df.quantile(.25))/np.sqrt(df.count())

y    68.068108
dtype: float64

In [17]:
# Calculate the sample variance.
df.var()

y    135.193781
dtype: float64

# References

[Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/api.html)